@model ScoreTableViewModel

@{
    ViewData["Title"] = "ScoreTable-Index";
    Layout = "~/Views/Shared/_LayoutGamer.cshtml";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>Bütün Skorlar</h2>
<table class="table">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Skoru</th>
        <th>Oynadığı Tarih</th>
    </tr>
    @foreach (var item in Model.ScoreTables)
    {

        <tr>
            <td>@item.User.UserName @item.User.UserSurname</td>
            <td>@item.ScoreData</td>
            <td>@item.CreatedDate</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Index">Anasayfa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}